body{
    color:#40514e;
    font-family: "Merriweather",serif;
    text-align: center;
    margin: 0;

}  
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position:absolute;
    top:40px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
    padding-bottom: 20px;
}
h1{
    color: #66bfbf;
    font-size: 5.65rem;
    font-family: "Sacramento",cursive;
    margin: 50px auto 0 auto;
}
h2{
    color: #66bfbf;
    font-size: 2.5rem;
    font-family: sans-serif;
    padding-bottom: 10px;
}
.pro{
    text-decoration: underline;
}
.prof{
    border-radius: 50%;
}
p{
    line-height: 2;
}
.middle-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
hr{
    margin: 100px auto;
    border: dotted #eaf6f6 6px;
    width:4%;
    border-bottom: none;
}
.chilli-img {
    width: 50%;
    margin-left: 30px;
  }
.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    width: 50%;
    row-gap: 2rem;
    text-align: left;
    margin: 100px auto 0 auto;
    gap:1rem;
}
h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
  }
  a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover {
    color: #eaf6f6;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  .bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
  }
  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
