*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: grey;
}
#title{
    color: white;
    text-align: center;
    padding: 10px;
}
.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flexcontainer > div{
    width: 200px;
    color: white;
    margin: 5px;
    flex-basis: 20%;
    
}



